.article {
    margin-top: 50px;
    margin-bottom: 70px;

    @media(max-width: 991px) {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    @media(max-width: 767px) {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    article {
        padding-right: 45px;

        @media(max-width: 991px) {
            padding-right: 15px;
        }

        h1 {
            margin-bottom: 40px;
        }

        h2 {
            margin-bottom: 30px;
        }

        h2 {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        h3 {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        ul {
            font-family: $font-secondary;
            font-size: 17px;
            font-weight: 300;

            li {
                line-height: 1.44;
                
            }

        }

        p {
            font-size: 17px;
            line-height: 1.75;

            img {
                margin-top: 15px;
                margin-bottom: 15px;
            }

        }

        .btn {
            margin-top: 30px;
        }

    }

    aside {

        @media(max-width: 1199px) {
            padding-left: 0!important;
        }

        @media(max-width: 991px) {
            padding-left: 15px!important;
        }


        .card {
            padding: 35px;

            @media(max-width: 1199px) {
                padding: 25px 5px 25px 20px;
            }

        }

        .share {
            margin-top: 50px;

            h5 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 20px;

                @media(max-width: 1199px) {
                    margin-bottom: 10px;
                }

            }

            .btns {
                margin: 0 -4px;
                width: auto;

                .btn {
                    margin: 4px;
                }

            }

        }

    }

}

.filtered-articles {
    margin-top: 50px;
    margin-bottom: 70px;

    article {
        padding-right: 45px;
        margin-bottom: 80px;

        h1 {
            margin-bottom: 40px;
        }

        h2 {
            margin-bottom: 30px;
        }

        h2 {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        h3 {
            margin-top: 40px;
            margin-bottom: 20px;
        }

        ul {
            font-family: $font-secondary;
            font-size: 17px;
            font-weight: 300;
            list-style-image: url('../img/cubecrossUL.svg');

            li {
                line-height: 1.44;                
            }

        }

        p {
            font-size: 17px;
            line-height: 1.75;

            img {
                margin-top: 15px;
                margin-bottom: 15px;
            }

        }

        a {

            &:hover {
                color: inherit;
            }

        }

        .btn {
            margin-top: 10px;
        }

    }

    aside {

        .card {
            padding: 35px;

            ul {
                margin: 10px 0 0 0;
                padding: 0;
                list-style: none;

                li {

                    a {

                        &:hover {
                            color: inherit;
                        }

                    }

                }

            }

        }

        .share {
            margin-top: 50px;

            h5 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .btns {
                margin: 0 -4px;
                width: auto;

                .btn {
                    margin: 4px;
                }

            }

        }

    }

}