.breadcrumbs {
    padding: 10px 0;
    margin: 0;
    line-height: 1;

    &__list {
        max-width: calc(100vw - 70px)!important;
        margin-top: 4px;
    }

    &__items {
        margin: 0;
        margin-left: -19px;
        padding: 0;
        position: relative;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        white-space: normal;

        a,
        i,
        strong {
            display: inline-block;
            padding: 0 4px;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            vertical-align: middle;
            white-space: normal;

            &:hover {
                color: inherit;
            }

        }

        i {
            font-weight: 700;
        }

        strong {
            font-weight: 600;
        }

    }

}