.clients {
  &__big,
  &__small {
    margin-top: 180px;

    @media (max-width: 799px) {
      margin-top: 140px;
    }

    @media (max-width: 575px) {
      margin-top: 90px;
    }

    @media (max-width: 420px) {
      margin-top: 50px;
    }

    &-title {
      margin-bottom: 40px;

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }

      @media (max-width: 575px) {
        margin-bottom: 20px;
      }
    }

    &-item {
      padding: 50px 30px;

      @media (max-width: 991px) {
        padding: 40px 30px;
      }

      @media (max-width: 767px) {
        padding: 30px;
      }

      @media (max-width: 575px) {
        padding: 30px 15px;
      }
    }
  }

  &__small {
    margin-bottom: 60px;

    @media (max-width: 799px) {
      margin-top: 140px;
    }

    @media (max-width: 420px) {
      margin-top: 90px;
    }

    .card {
      flex-basis: calc(20% - 20px);
      max-width: calc(20% - 20px);
      margin: 10px;

      @media (max-width: 991px) {
        flex-basis: calc(25% - 20px);
        max-width: calc(25% - 20px);
      }

      @media (max-width: 767px) {
        flex-basis: calc(33.3333% - 20px);
        max-width: calc(33.3333% - 20px);
      }

      @media (max-width: 575px) {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
      }
    }
  }
}
