.dog {
    
    &.section {
        margin-bottom: 100px;

        @media(max-width: 575px) {
            margin-bottom: 60px;
        }

    }

    &.grey {

        .bowtie {
            fill: $color-exec;
        }

    }

    &.sea {

        .bowtie {
            fill: $color-sea;
        }

    }

    &.white {

        .bowtie {
            fill: white;
        }

    }

    &.yellow {

        .bowtie {
            fill: $color-yellow;
        }

    }

    &.pink {

        .bowtie {
            fill: $color-pink;
        }

    }

    object,
    svg {
        width: 100%;
        position: relative;
        max-width: 680px!important;
    }

    &.left {

        &.abs { 
            
            object,
            svg {
                min-width: 100%;
                width: 47vw;
                position: absolute;
                right: 80px;

                @media(max-width: 767px) {
                    right: 35px;
                    width: 55vw;
                }

                @media(max-width: 575px) {
                    right: 15px;
                    width: 47vw;
                }

            }

        }

    }

    &.right {

        object,
        svg {
            transform: rotateY(180deg);
            max-width: 100vw;
            min-width: 100%;
            width: 47vw;
            position: absolute;
            left: 80px;

            @media(max-width: 767px) {
                left: 15px;
                width: 55vw;
            }

        }

    }

    &__normal {

        svg {
            top: 25px;
        }

    }

    &__stand {

        svg {
            margin-top: 40px;
            transform: translateX(20px);

            @media(max-width: 991px) {
                transform: translateX(-30px);
            }

            @media(max-width: 575px) {
                width: 150%;
                margin-top: 20px;
                transform: translateX(-60px);
            }

            @media(max-width: 420px) {
                width: 170%;
            }

            @media(max-width: 350px) {
                width: 190%;
            }

        }

    }

    &__sit {

        svg {
            top: 25px;

            @media(max-width: 575px) {
                top: 10px;
            }

        }

    }

    &__info {
        @include notch(20px);
        padding: 40px;
        position: relative;

        @media(max-width: 991px) {
            padding: 30px;
        }

        @media(max-width: 575px) {
            padding: 20px;
            @include notch(16px);
        }

        &+.triangle {
            position: absolute;
            top: 40%;
            width: 0; 
            height: 0; 
            content: '';
            z-index: 9;
        }

        &.left {

            @media(max-width: 767px) {
                margin-right: -40px;
            }

            @media(max-width: 575px) {
                margin-right: -35px;
            }
            
            &+.triangle {
                top: 15px;
                left: -40px;
                border-left: 0px solid transparent;
                border-top: 60px solid transparent; 
                border-right: 60px solid transparent;

                @media(max-width: 991px) {
                    top: 6px;
                    left: -31px;
                }

                @media(max-width: 767px) {
                    top: 19px;
                    left: -24px;
                    border-top: 40px solid transparent; 
                    border-right: 40px solid transparent; 
                }

                @media(max-width: 575px) {
                    top: 0;
                    left: -9px;
                }

                &.grey2 {
                    border-right-color: $color-grey2;
                }

                &.sea {
                    border-right-color: $color-sea;
                }

                &.yellow {
                    border-right-color: $color-yellow;
                }

            }

        }

        &.right {

            @media(max-width: 767px) {
                margin-left: -35px;
                padding-left: 45px;
            }

            @media(max-width: 575px) {
                margin-left: -30px;
                padding-left: 30px;
            }

            &+.triangle {
                right: -40px;
                border-right: 0px solid transparent;
                border-bottom: 60px solid transparent; 
                border-left: 60px solid transparent; 

                @media(max-width: 991px) {
                    top: 25%;
                    right: -31px;
                }

                @media(max-width: 767px) {
                    top: 20%;
                    right: -24px;
                    border-bottom: 40px solid transparent; 
                    border-left: 40px solid transparent; 
                }

                @media(max-width: 575px) {
                    right: -9px;
                }

                &.grey2 {
                    border-left-color: $color-grey2;
                }

                &.sea {
                    border-left-color: $color-sea;
                }

                &.yellow {
                    border-left-color: $color-yellow;
                }

            }

        }

    }

}