.dog {

    &.grey {

        .bowtie {
            fill: $color-exec;
        }

    }

    &.sea {

        .bowtie {
            fill: $color-sea;
        }

    }

    &.white {

        .bowtie {
            fill: white;
        }

    }

    &.yellow {

        .bowtie {
            fill: $color-yellow;
        }

    }

    &.pink {

        .bowtie {
            fill: $color-pink;
        }

    }

    &.left {

    }

    &.right {
        
    }

    &__normal {
        
    }

    &__stand {

    }

    &__lay {

    }

}