.footer {
    background-color: $color-primary;
    color: white;
    padding-top: 40px;

    &__upper {

        &-contact {

            i {
                color: $color-secondary;
            }

            a {

                &:hover {
                    text-decoration: none;
                    color: $color-secondary;
                }

            }

        }

        .btn {
            margin-left: 10px;
        }

    }

    hr {
        width: 100%;
        background-color: $color-secondary;
        margin: 40px auto 50px;
        border: none;
        height: 1px;
        display: block;
        opacity: 0.4;
    }

    &__middle {

        h4 {
            margin-bottom: 25px;
        }

        p {
            margin: 0;
        }

        ul {
            padding: 0;
            padding-left: 1.25em;
            margin: 0;

            li {
                padding: 0;
            }

        }

        a {

            &:hover {
                color: inherit;
            }

        }

        .newsletter {
            margin-top: 30px;

            input {
                position: relative;
                padding: 12px 30px 12px 15px;
                font-size: 15px;
                font-weight: 400;
                color: $color-primary;
                width: 100%;
                display: inline-block;
                vertical-align: middle;
                border: none;
                outline: 0!important;

                &::placeholder {
                    color: $color-primary;
                    opacity: 1;
                    font-style: italic;
                }

            }

            button {
                height: auto;
                border: none;
                outline: 0;
                appearance: none;
                font-size: 22px;
                color: $color-tertiary;
                position: absolute;
                right: 20px;
                margin: 0;
                padding: 5px;
            }

        }

    }

    &__lower {
        margin-top: 70px;
        background-color: $color-secondary;
        color: $color-primary;
        padding: 12px 0;
        font-size: 13px;

        a:hover {
            color: inherit;
        }

        .sative {
            margin-left: 20px;

            a {

                i {
                    color: $color-tertiary;
                    margin: 0 2px;
                    @include trans200;
                    font-size: 18px;
                    vertical-align: -2px;
                    -webkit-text-fill-color: $color-tertiary;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $color-primary;
                }

                span {
                    color: $color-tertiary;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    position: relative;

                    &:after {
                        position: absolute;
                        display: block;
                        bottom: -1px;
                        left: 0;
                        width: 0;
                        content: '';
                        height: 2px;
                        background-color: $color-tertiary;
                        @include trans200;
                    }

                }

                &:hover {
                    color: inherit;
                    text-decoration: none;

                    i {
                        transform: scale(1.2);
                        -webkit-text-stroke-width: 1.5px;
                        margin: 0 3px;
                    }

                    span {

                        &:after {
                            width: 100%;
                        }

                    }

                }

            }

        }

    }

}