.footer {
  background-color: $color-primary;
  color: white;
  padding-top: 40px;

  &__upper {
    @media (max-width: 767px) {
      * {
        text-align: center !important;
      }
    }

    &-logo {
      .display-3 {
        @media (max-width: 479px) {
          font-size: 32px !important;
        }
      }

      svg {
        @media (max-width: 767px) {
          width: 32px;
        }
        @media (max-width: 479px) {
          width: 27px;
        }
      }
    }

    &-contact {
      i {
        color: $color-secondary;
      }

      a {
        &:hover {
          text-decoration: none;
          color: $color-secondary;
        }
      }
    }

    .btn {
      margin-left: 10px;
    }
  }

  hr {
    width: 100%;
    background-color: $color-secondary;
    margin: 40px auto 50px;
    border: none;
    height: 1px;
    display: block;
    opacity: 0.4;
  }

  &__middle {
    @media (max-width: 767px) {
      * {
        text-align: center !important;
      }
    }

    h5 {
      margin-bottom: 25px;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }
    }

    p {
      margin: 0;
    }

    ul {
      padding: 0;
      //padding-left: 1.25em;
      margin: 0;
      list-style: none;

      li {
        padding: 0;

        a {
          line-height: 1.41;
          font-family: $font-secondary;
        }
      }
    }

    a {
      &:hover {
        color: inherit;
      }
    }

    &-ul {
      > li {
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);
        padding: 13px 0 !important;
        position: relative;
        display: block;

        &:first-child {
          border-top: 1px solid rgba($color: #ffffff, $alpha: 0.5);
        }

        > a {
          display: block;
          width: 100%;
          padding-right: 50px;
          margin: 0;

          svg {
            position: absolute;
            width: 30px;
            height: 15px;
            right: 0;
            top: 21px;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &__lower {
    margin-top: 30px;
    background-color: $color-secondary;
    color: $color-primary;
    padding: 12px 0;
    font-size: 13px;

    @media (max-width: 767px) {
      * {
        text-align: center !important;
      }
    }

    a:hover {
      color: inherit;
    }

    .sative {
      margin-left: 20px;

      @media (max-width: 359px) {
        margin: 10px auto 5px;
        display: block;
      }

      a {
        i {
          color: $color-tertiary;
          margin: 0 2px;
          @include trans200;
          font-size: 18px;
          vertical-align: -2px;
          -webkit-text-fill-color: $color-tertiary;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $color-primary;
        }

        span {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 14px;
          position: relative;

          &:after {
            position: absolute;
            display: block;
            bottom: -1px;
            left: 0;
            width: 0;
            content: "";
            height: 2px;
            background-color: $color-navy;
            @include trans200;
          }
        }

        &:hover {
          color: inherit;
          text-decoration: none;

          i {
            transform: scale(1.2);
            -webkit-text-stroke-width: 1.5px;
            margin: 0 3px;
          }

          span {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.cc-window {
  @include notch(10px);

  .cc-btn {
    vertical-align: middle;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0 !important;
    font-weight: 700 !important;
    line-height: 1;
    border: none;
    outline: 0;
    box-shadow: none !important;
    font-family: $font-primary;
    padding: 16px 25px;
    font-size: 16px;

    &:hover {
      opacity: 1;
      color: $color-navy;
    }
  }
}
