.header {

    &__home {
        background-color: $color-secondary;
        padding-top: 120px;

        @media(max-width: 1199px) {
            padding-top: 40px;
        }

        .dog {
            padding-left: 30px;
            padding-right: 70px;
            margin-top: 30px;

            @media(max-width: 1199px) {
                display: flex;
                align-items: flex-end;
            }

            @media(max-width: 991px) {
                padding-left: 0;
                padding-right: 45px;
            }

            @media(max-width: 767px) {
                align-items: flex-start;
                padding-right: 25px;
                margin-left: -30px;
            }

            @media(max-width: 575px) {
                padding-right: 10px;
                margin-left: -30px;
            }

        }

        .triangle {
            position: absolute;
            top: 120px;
            left: -40px;
            width: 0; 
            height: 0; 
            border-top: 0px solid transparent;
            border-bottom: 60px solid transparent; 
            border-right: 60px solid white; 
            content: '';

            @media(max-width: 767px) {
                top: 60px;
                left: -20px;
            }

            @media(max-width: 575px) {
                left: -10px;
            }


        }

        .text {
            @include notch(15px);
            background-color: white;
            padding: 40px 65px;
            position: relative;
            
            @media(max-width: 1199px) {
                padding: 25px 30px;
            }

            @media(max-width: 991px) {
                margin-right: -45px;
                padding-right: 45px;
            }

            @media(max-width: 767px) {
                margin-right: -60px;
                padding-right: 30px;
            }

            @media(max-width: 575px) {
                padding: 15px 20px;
            }

            h1 {

                a {

                    &:hover {
                        color: inherit;
                        text-decoration: none;
                    }

                }

                span {
                    padding: 0 5px;
                }

            }

        }

        .btns {
            padding: 20px 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > * {
                margin: 10px;
            }

            @media(max-width: 1199px) {
                padding: 20px;
                margin-bottom: 40px;
            }

            @media(max-width: 767px) {
                padding: 20px 0;
                margin-left: -10px;
            }

        }

    }

    &__jobs {
        margin-top: 40px;

        &-cats {
            display: flex;

            @media(max-width: 991px) {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            @media(max-width: 575px) {
                flex-wrap: wrap;
            }

            .btn {
                margin-left: 10px;

                @media(max-width: 575px) {
                    margin-left: 0;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }

                &:first-of-type,
                &:first-child {
                    margin-left: 0;
                }

                span {
                    @include trans200;
                    margin-right: 3px;
                }

                i {
                    position: relative;
                }

                &.active {
                    background-color: $color-primary;

                    i {
                        transform: rotate(135deg);
                        color: white;
                    }

                    span {
                        color: white;
                    }

                }

            }

        }

        &-dog {
            position: absolute;
            right: -450px;
            bottom: -50px;
            transform: rotateY(180deg);

            @media(max-width: 991px) {
                right: -310px;
            }

            @media(max-width: 767px) {
                right: -270px;
            }

            object,
            svg {
                height: 280px;

                @media(max-width: 991px) {
                    height: 200px;
                }

            }

            &-search {

                @media(max-width: 575px) {
                    margin-top: 70px;
                }

            }

        }

        &-search {
            position: relative;
            margin-top: 50px;
            margin-bottom: 10px;

            @media(max-width: 767px) {
                margin-bottom: 0;
            }

            &.knowledge {
                margin-top: 90px;

                input {

                    @media(max-width: 767px) {
                        margin-top: 0;
                        margin-bottom: 10px;
                    }

                }

            }

            .triangle-left {
                position: absolute;
                top: 15px;
                left: -3px;
                width: 0; 
                height: 0; 
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent; 
                border-right: 20px solid $color-light-grey; 
                content: '';

                @media(max-width: 767px) {
                    display: none;
                }

            }

            .gradient {
                height: 62px;
                width: 62px;
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $color-light-grey 70%);
                position: absolute;
                bottom: 0;
                right: calc(62px + 15px);

                @media(max-width: 767px) {
                    bottom: 10px;
                }

            }

            input {
                position: relative;
                padding: 20px 30px 20px 20px;
                font-size: 18px;
                font-weight: 400;
                color: $color-primary;
                background-color: $color-light-grey;
                width: 100%;
                display: inline-block;
                vertical-align: middle;
                border: none;
                outline: 0!important;
                @include notch(8px);

                @media(max-width: 767px) {
                    margin-top: 80px;
                    margin-bottom: 15px;
                }

                &.location {
                    max-width: calc(100% - 47px);

                    @media(max-width: 767px) {
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                }

                &::placeholder {
                    color: $color-primary;
                    opacity: 1;
                    font-style: italic;
                }
            }

            .btn {
                background-color: $color-tertiary;
                color: white;
                font-size: 26px;
                padding: 18px 18px 17px;
                margin-left: -20px;

                &.knowledge {
                    position: absolute;
                    bottom: 0;
                    right: 15px;

                    @media(max-width: 767px) {
                        bottom: 10px;
                    }

                }

            }

        }

    }

    &__article {
        overflow: hidden;
        display: flex;
        align-items: center;

        .bg-cover {
            max-height: 50vh;
            height: 100%;
        }

    }

    &__team,
    &__clients,
    &__testimonials,
    &__generic {
        margin-top: 70px;

        @media(max-width: 575px) {
            margin-top: 40px;
        }

    }

    &__generic {

        h1 {

            span {
                padding: 0 5px;
            }

        }

    }

    &__testimonials {
        margin-bottom: 0!important;
    }

    &__contact {
        min-height: 50vh;
        max-height: 400px!important;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    &__video {

    }

}
