.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    &__upper {
        background-color: $color-primary;
        color: white;
        padding: 0;

        &-menu {
            list-style: none;
            padding: 0;
            margin: 0 -15px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media(max-width: 1199px) {
                margin: 0 -12px;
            }

            > li {
                padding: 0;
                margin: 0;

                > a {
                    padding: 12px 15px;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 1;
                    display: block;
                    position: relative;
                    font-weight: 600;
                    @include trans200;

                    @media(max-width: 1199px) {
                        padding: 12px;
                    }
 
                    &.dropdown-toggle {

                        &:after {
                            display: none;
                        }

                    }

                }

                &:hover {
                    
                    > a {
                        color: $color-tertiary;
                        text-decoration: none;
                    }

                }

                &.active,
                &.show {

                    > a {
                        color: $color-tertiary;
                        text-decoration: none;
                        font-weight: 700;
                    }

                }

                // .dropdown-menu {
                //     display: block;
                //     visibility: hidden;
                //     opacity: 0;
                //     transform: translateY(15px);
                //     @include trans300;

                //     &.show {
                //         display: block;
                //         visibility: visible;
                //         opacity: 1;
                //         transform: translateY(0px);
                //         @include trans300;
                //     }

                // }

                > ul {
                    padding: 0;
                    margin: 0;
                    margin-left: -5px;
                    list-style: none;
                    border: none;
                    border-radius: 0;
                    border-top: 1px solid $color-tertiary;

                    li {
                        padding: 0;
                        line-height: 1;
                        border-bottom: 1px solid $color-secondary;

                        a {
                            background-color: $color-primary;
                            padding: 15px 20px;
                            font-size: 13px;
                            text-transform: uppercase;
                            color: white;
                            font-weight: 600;
                            line-height: 1;
                            display: block;
                            position: relative;
                            @include trans200;
                            white-space: nowrap;
                        }

                        &:last-of-type {
                            border-bottom: none;
                        }

                        &:hover {

                            a {
                                text-decoration: none;
                                background-color: rgba($color: $color-primary, $alpha: 0.8);
                            }

                        }

                    }

                }

            }

        }

    }

    &__lower {
        background-color: $color-secondary;
        color: $color-primary;
        padding: 20px 0;

        @media(max-width: 991px) {
            padding: 10px 0;
        }

        &-logo {
            max-width: 190px;
            display: block;

            object,
            svg,
            img {
                width: 100%;
            }

        }

        &-contact {
            font-size: 15px;

            a {
                vertical-align: middle;
                @include trans200;

                i {
                    vertical-align: middle;
                    margin-right: 8px;
                }

                &:hover {
                    color: inherit;
                }

            }

        }

        &-utils {
            vertical-align: middle;

            > a {
                margin: 0 5px;
            }

            > hr {
                height: 26px;
                width: 1px;
                background-color: $color-primary;
                border: none;
                margin: 0 5px;
            }

            .lang {
                font-size: 14px;
                margin: 0 5px;
                padding: 0;

                li {

                    a {
                        padding: 2px;
                        text-transform: uppercase;

                        &:hover {
                            color: inherit;
                        }

                    }

                    &.current-lang {

                        a {
                            font-weight: 600;
                            text-decoration: underline;
                        }

                    }

                }

            }

            .btn {
                margin-left: 15px;
                margin-right: 0;
            }

            * {
                vertical-align: middle;
                display: inline-block;
            }

        }

        &-btn {
            width: 40px;
            height: 40px;
            border: none;
            background-color: $color-navy;
            appearance: none;
            outline: 0!important;
            margin-left: 30px;

            i {
                color: white;
                font-size: 23px;
            }

        }

    }

}