.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    &__upper {
        background-color: $color-primary;
        color: white;
        padding: 0;

        @media(max-width: 991px) {
            display: none;
            position: fixed;
            height: calc(100vh - 60px);
            top: 60px;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;

            > .container {
                overflow-y: scroll;
                height: 100vh;
                padding-top: 25px;
                padding-bottom: 90px;
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
            }

        }

        @media(max-width: 575px) {
            height: calc(100vh - 48px);
            top: 48px;
        }

        &-menu {
            list-style: none;
            padding: 0;
            margin: 0 -15px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media(max-width: 1199px) {
                margin: 0 -12px;
            }

            @media(max-width: 991px) {
                margin: 20px auto;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                display: block!important;
            }

            > li {
                padding: 0;
                margin: 0;

                @media(max-width: 991px) {
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                > a {
                    padding: 12px 15px;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 1;
                    display: block;
                    position: relative;
                    font-weight: 600;
                    @include trans200;

                    @media(max-width: 1199px) {
                        padding: 12px;
                    }

                    @media(max-width: 991px) {
                        font-size: 20px;
                    }
 
                    &.dropdown-toggle {

                        &:after {
                            display: none;
                        }

                    }

                }

                &:hover {
                    
                    > a {
                        color: $color-tertiary;
                        text-decoration: none;
                    }

                }

                &.active,
                &.show {

                    > a {
                        color: $color-tertiary;
                        text-decoration: none;
                        font-weight: 700;
                    }

                }

                // .dropdown-menu {
                //     display: block;
                //     visibility: hidden;
                //     opacity: 0;
                //     transform: translateY(15px);
                //     @include trans300;

                //     &.show {
                //         display: block;
                //         visibility: visible;
                //         opacity: 1;
                //         transform: translateY(0px);
                //         @include trans300;
                //     }

                // }

                > ul {
                    padding: 0;
                    margin: 0;
                    margin-left: -5px;
                    list-style: none;
                    border: none;
                    border-radius: 0;
                    border-top: 1px solid $color-tertiary;

                    @media(max-width: 991px) {
                        margin-left: -15px!important;
                        margin-right: -15px!important;
                        min-width: calc(100% + 30px);
                        width: auto!important;
                        position: relative!important;
                        top: auto!important;
                        left: auto!important;
                        right: auto!important;
                        transform: none!important;
                        text-align: center!important;
                        border-top: none!important;
                    }

                    li {
                        padding: 0;
                        line-height: 1;
                        border-bottom: 1px solid $color-secondary;

                        @media(max-width: 991px) {
                            border-bottom: 2px solid $color-navy;
                        }

                        a {
                            background-color: $color-primary;
                            padding: 15px 20px;
                            font-size: 13px;
                            text-transform: uppercase;
                            color: white;
                            font-weight: 600;
                            line-height: 1;
                            display: block;
                            position: relative;
                            @include trans200;
                            white-space: nowrap;

                            @media(max-width: 991px) {
                                background-color: #0F2441!important;
                                font-size: 16px;
                                font-weight: 400;
                                padding: 12px 20px;
                            }

                        }

                        &:last-of-type {
                            border-bottom: none;
                        }

                        &:hover {
                            color: $color-tertiary;

                            a {
                                text-decoration: none;
                                font-weight: 500;
                                color: $color-tertiary;
                                background-color: rgba($color: $color-primary, $alpha: 0.8);
                            }

                        }

                    }

                }

            }

        }

        .lang {
            padding: 0;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin-bottom: 35px;

            li {    
                font-size: 16px;
                text-transform: uppercase;
                margin: 0 5px;
                padding: 0;

                a {
                    padding: 2px;
                    text-transform: uppercase;

                    &:hover {
                        color: inherit;
                    }

                }

                &.current-lang {

                    a {
                        font-weight: 600;
                        text-decoration: underline;
                    }

                }

            }

        }

        .btn {
            margin-bottom: 35px;
        }

        &-contact {
            flex-direction: column;
            align-items: center;
            font-size: 16px;

            a {
                vertical-align: middle;
                @include trans200;

                i {
                    vertical-align: middle;
                    margin-right: 8px;
                }

                &:hover {
                    color: inherit;
                }

            }

        }

    }

    &__lower {
        background-color: $color-secondary;
        color: $color-primary;
        padding: 20px 0;

        @media(max-width: 991px) {
            padding: 10px 0;
        }

        @media(max-width: 575px) {
            padding: 0;
        }

        &-logo {
            max-width: 190px;
            display: block;

            object,
            svg,
            img {
                width: 100%;
            }

            @media(max-width: 767px) {
                
                svg {
                    height: 30px;
                    width: 151px;
                }

            }

        }

        &-contact {
            font-size: 15px;

            a {
                vertical-align: middle;
                @include trans200;

                i {
                    vertical-align: middle;
                    margin-right: 8px;
                }

                &:hover {
                    color: inherit;
                }

            }

        }

        &-utils {
            vertical-align: middle;

            > a {
                margin: 0 5px;
            }

            > hr {
                height: 26px;
                width: 1px;
                background-color: $color-primary;
                border: none;
                margin: 0 5px;
            }

            .lang {
                font-size: 14px;
                margin: 0 5px;
                padding: 0;

                li {

                    a {
                        padding: 2px;
                        text-transform: uppercase;

                        &:hover {
                            color: inherit;
                        }

                    }

                    &.current-lang {

                        a {
                            font-weight: 600;
                            text-decoration: underline;
                        }

                    }

                }

            }

            .btn {
                margin-left: 15px;
                margin-right: 0;
            }

            * {
                vertical-align: middle;
                display: inline-block;
            }

        }

        &-btn {
            width: 40px;
            height: 40px;
            border: none;
            background-color: $color-navy;
            appearance: none;
            outline: 0!important;
            margin-left: 30px;
            @include notch(6px);

            @media(max-width: 575px) {
                clip-path: none!important;
                margin-left: 15px;
                width: 48px;
                height: 48px;
                margin-right: -15px;
            }

            @media(max-width: 340px) {
                margin-left: 5px;
            }

            svg {
                display: none;
                width: 40px;
                height: 40px;

                @media(max-width: 575px) {
                    width: 48px;
                    height: 48px;
                }

            }

            i {
                color: white;
                font-size: 23px;

                @media(max-width: 575px) {
                    font-size: 27px;
                }

            }

            &.active {
                background-color: white;
                clip-path: none!important;
                padding: 0!important;

                svg {
                    display: block;
                }
                
                i {
                    display: none;
                }

            }

        }

    }

}