/prototype/node_modules
/build/node_modules
/prototype/.sass-cache
!/.gitignore
/design
/build/composer.lock
/build
.DS_Store
/.DS_Store
**/.DS_Store
!/build/wp-content/plugins/sative
!/build/wp-content/plugins/sative/*
!/build/wp-content/themes/sative
!/build/wp-content/themes/sative/*
!/build/wp-content/themes/sative/assets
!/build/wp-content/themes/sative/assets/*
!/build/wp-content/themes/sative/inc
!/build/wp-content/themes/sative/inc/*
!/build/wp-content/themes/sative/template-parts
!/build/wp-content/themes/sative/template-parts/*
!/build/wp-content/themes/sative/*.php
!/build/wp-content/themes/sative/*.css
!/build/wp-content/themes/sative/*.js
!/build/wp-content/themes/sative/*.png
!/build/wp-content/themes/sative/*.jpg
!/build/wp-content/themes/sative/*.gif
!/build/wp-content/themes/sative/*.svg
!/build/wp-content/themes/sative/*.ico
!/build/wp-content/themes/sative/*.eot
!/build/wp-content/themes/sative/*.ttf
!/build/wp-content/themes/sative/*.woff
!/build/wp-content/themes/sative/*.woff2
!/build/wp-content/themes/sative/*.otf
!/build/wp-content/themes/sative/*.map
!/build/wp-content/themes/sative/*.xml
!/build/wp-content/themes/sative/*.txt
!/build/wp-content/themes/sative/*.html
!/build/wp-content/themes/sative/*.json
!/build/wp-content/themes/sative/*.md
!/build/wp-content/themes/sative/*.sh
!/build/wp-content/themes/sative/*.yml
!/build/wp-content/plugins/searchx-application
!/build/wp-content/plugins/searchx-application/*