@import 'base/variables';
@import 'base/mixins';
@import 'base/classes';
@import 'base/normalize';
@import 'base/typography';
@import 'base/btn';
@import 'base/global';

// Import Components
@import 'components/menukit';
@import 'components/navigation';
@import 'components/breadcrumbs';
@import 'components/header';
@import 'components/home';
@import 'components/flex-content';
@import 'components/cards';
@import 'components/testimonials';
@import 'components/modal';
@import 'components/chat';
@import 'components/jobs';
@import 'components/article';
@import 'components/dogs';
@import 'components/team';
@import 'components/clients';
@import 'components/knowledge';
@import 'components/contact';
@import 'components/footer';

// Import Plugins
@import 'plugins/prettyCheckbox';
@import 'plugins/owlCarousel';
@import 'plugins/datepicker';
