.color-it {
    color: $color-it!important;
}

.color-sales {
    color: $color-sales!important;
}

.color-exec {
    color: $color-exec!important;
}

.color-free {
    color: $color-free!important;
}

.color-navy {
    color: $color-navy!important;
}

.color-sea {
    color: $color-sea!important;
}

.color-pink {
    color: $color-pink!important;
}

.color-yellow {
    color: $color-yellow!important;
}

.color-grey {
    color: $color-grey!important;
}

.color-grey2 {
    color: $color-grey2!important;
}

.color-lgrey {
    color: $color-light-grey!important;
}

.color-white {
    color: white!important;
}

.bg-navy {
    background-color: $color-navy!important;
}

.bg-sea {
    background-color: $color-sea!important;
}

.bg-pink {
    background-color: $color-pink!important;
}

.bg-grey {
    background-color: $color-grey!important;
}

.bg-lgrey {
    background-color: $color-light-grey!important;
}

.bg-grey2 {
    background-color: $color-grey2!important;
}

.bg-yellow {
    background-color: $color-yellow!important;
}

.top-80 {
    top: 80px;
}

.bottom-8vh {
    bottom: 8vh;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.flip-vertical {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}