.text-size-xxxxlarge {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.44;
  font-family: $font-primary;

  @media (max-width: 1440px) {
    font-size: 46px;
  }

  @media (max-width: 1199px) {
    font-size: 42px;
  }

  @media (max-width: 991px) {
    font-size: 38px;
  }

  @media (max-width: 767px) {
    font-size: 34px;
  }

  @media (max-width: 575px) {
    font-size: 30px;
  }
}

h1,
.h1,
.text-size-xxxlarge {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.25;
  font-family: $font-primary;
  margin: 0.5em auto;

  @media (max-width: 1440px) {
    font-size: 60px;
  }

  @media (max-width: 1199px) {
    font-size: 54px;
  }

  @media (max-width: 991px) {
    font-size: 50px;
  }

  @media (max-width: 767px) {
    font-size: 45px;
  }

  @media (max-width: 575px) {
    font-size: 40px;
  }
}

.display-3 {
  @media (max-width: 1440px) {
    font-size: 60px !important;
  }

  @media (max-width: 1199px) {
    font-size: 54px !important;
  }

  @media (max-width: 991px) {
    font-size: 50px !important;
  }

  @media (max-width: 767px) {
    font-size: 45px !important;
  }

  @media (max-width: 575px) {
    font-size: 40px !important;
  }
}

h2,
.h2,
.text-size-xxlarge {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.285;
  font-family: $font-primary;
  margin: 0.5em auto;

  @media (max-width: 1440px) {
    font-size: 33px;
  }

  @media (max-width: 1199px) {
    font-size: 32px;
  }

  @media (max-width: 767px) {
    font-size: 31px;
  }

  @media (max-width: 575px) {
    font-size: 30px;
  }
}

h3,
.h3,
.text-size-xlarge {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.6;
  font-family: $font-secondary;
  margin: 1em auto;

  @media (max-width: 1199px) {
    font-size: 24px;
  }

  @media (max-width: 991px) {
    font-size: 23px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

h4,
.h4,
.text-size-large {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.285;
  margin: 1em auto;

  @media (max-width: 767px) {
    font-size: 19px;
    line-height: 1.25;
  }
}

h5,
.h5,
.text-size-medium {
  font-size: 18px;
  margin: 1em auto;
  font-weight: 700;
  line-height: 1.64;
}

p,
.p,
.text-size-normal {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.91;
  margin: 1em auto;
  font-family: $font-secondary;

  @media (max-width: 1199px) {
    font-size: 17px;
  }

  @media (max-width: 991px) {
    font-size: 16px;
  }

  @media (max-width: 767px) {
    font-size: 15px;
  }

  @media (max-width: 575px) {
    font-size: 14px;
  }
}

.text-size-small,
.text-size-small * {
  font-size: 14px;
  line-height: 1.66;
}

.display-1 {
  font-size: 100px;
}

.display-2 {
  font-size: 80px;
  line-height: 0.75;
}

.display-3 {
  font-size: 70px;
  line-height: 1 !important;
}

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

.text-italic {
  font-style: italic;
}

.text-upper {
  text-transform: uppercase;
}

.text400 {
  font-weight: 400 !important;
}

.text500 {
  font-weight: 500 !important;
}

.text600 {
  font-weight: 600 !important;
}

.text700 {
  font-weight: 700 !important;
}

.text900 {
  font-weight: 900 !important;
}
