@font-face {
  font-family: 'Fractul';
  src: local('Fractul'),
    url('../fonts/Fractul-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Fractul-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Fractul-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/Fractul-SemiBoldItalic.svg#Fractul-SemiBoldItalic')
      format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fractul';
  src: local('Fractul'), url('../fonts/Fractul-SemiBold.woff2') format('woff2'),
    url('../fonts/Fractul-SemiBold.woff') format('woff'),
    url('../fonts/Fractul-SemiBold.ttf') format('truetype'),
    url('../fonts/Fractul-SemiBold.svg#Fractul-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fractul';
  src: local('Fractul'), url('../fonts/Fractul-Medium.woff2') format('woff2'),
    url('../fonts/Fractul-Medium.woff') format('woff'),
    url('../fonts/Fractul-Medium.ttf') format('truetype'),
    url('../fonts/Fractul-Medium.svg#Fractul-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fractul';
  src: local('Fractul'),
    url('../fonts/Fractul-BoldItalic.woff2') format('woff2'),
    url('../fonts/Fractul-BoldItalic.woff') format('woff'),
    url('../fonts/Fractul-BoldItalic.ttf') format('truetype'),
    url('../fonts/Fractul-BoldItalic.svg#Fractul-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fractul';
  src: local('Fractul'),
    url('../fonts/Fractul-MediumItalic.woff2') format('woff2'),
    url('../fonts/Fractul-MediumItalic.woff') format('woff'),
    url('../fonts/Fractul-MediumItalic.ttf') format('truetype'),
    url('../fonts/Fractul-MediumItalic.svg#Fractul-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fractul';
  src: local('Fractul'), url('../fonts/Fractul-Regular.woff2') format('woff2'),
    url('../fonts/Fractul-Regular.woff') format('woff'),
    url('../fonts/Fractul-Regular.ttf') format('truetype'),
    url('../fonts/Fractul-Regular.svg#Fractul-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fractul';
  src: local('Fractul'), url('../fonts/Fractul-Bold.woff2') format('woff2'),
    url('../fonts/Fractul-Bold.woff') format('woff'),
    url('../fonts/Fractul-Bold.ttf') format('truetype'),
    url('../fonts/Fractul-Bold.svg#Fractul-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fractul';
  src: local('Fractul'), url('../fonts/Fractul-Italic.woff2') format('woff2'),
    url('../fonts/Fractul-Italic.woff') format('woff'),
    url('../fonts/Fractul-Italic.ttf') format('truetype'),
    url('../fonts/Fractul-Italic.svg#Fractul-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

$font-primary: 'Fractul';
$font-secondary: 'Roboto', sans-serif;

$color-navy: #183153;
$color-sea: #94d4e9;
$color-pink: #ec6278;
$color-yellow: #fdd963;
$color-green: #48c353;
$color-grey: #e3e0e5;
$color-grey2: #f1eff2;
$color-light-grey: #f8f7f8;
$color-dark-grey: #a2a2a2;

$color-primary: $color-navy;
$color-secondary: $color-sea;
$color-tertiary: $color-pink;

$color-it: $color-sea;
$color-sales: $color-pink;
$color-exec: $color-grey;
$color-free: $color-yellow;
